.mb0{
    margin-bottom: 0px;
}
.mt0{
    margin-top: 0px;
}
.ml10{
    margin-left: 10px;
}
.p0{
    padding: 0px !important;
}
.ptb0{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}