<nav class="nav-extended white">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">CCAPI</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="#" class="black-text">Deploy</a>
                    </li>
                    <li>
                        <a href="#" class="black-text">Profile</a>
                    </li>
                    <li>
                        <a href="#" class="black-text">SignOut</a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li>
                        <a href="#" class="black-text">Deploy</a>
                    </li>
                    <li>
                        <a href="#" class="black-text">Profile</a>
                    </li>
                    <li>
                        <a href="#" class="black-text">SignOut</a>
                    </li>
                </ul>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab">
                        <a class="active" href="#build">Build</a>
                    </li>
                    <li class="tab">
                        <a href="#secure">Secure</a>
                    </li>
                    <li class="tab">
                        <a href="#manage">Manage</a>
                    </li>
                    <li class="tab">
                        <a href="#explore">Explore</a>
                    </li>
                    <li class="tab">
                        <a href="#settings">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div id="build" class="col s12">Build</div>
        <div id="secure" class="col s12">Secure</div>
        <div id="manage" class="col s12">Manage</div>
        <div id="explore" class="col s12">Explore</div>
        <div id="settings" class="col s12">Settings</div>
    </div>